body {
    background-image: url(background3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 110%;
    
}
.fighter-img {
    height: 300px;
}

.boss-img {
    height: 300px;
}
h1 {
    color: white;

}
h2 {
    color: white;
}