body {
    background-image: url(background3.jpg);



}
.container{
    margin-left: 0;
}
.fighter-img {
    height: 300px;

}

.boss-img {
    height: 300px;

}
h1 {
    color: white;

}
h2 {
    color: white; 
    padding: 0 15px;
}
#attackB {
    float: left;
    margin: 0 20px;
}
#restart {
    float: left;
    margin: 0 20px;
}